html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #f7f7f7;
}
.row {
	background-color: #ffffff;
	border-radius: "16px";
	border-radius: 16;
	margin: "200px";
	padding: "20px";
	width: "700px";
	/* height: 200; */
	box-shadow: "rgba(0, 0, 0, 0.5) 15px 10px 40px -17px";
}
.col {
	float: left;
	width: 50%;
}

.form,
.center_text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.form__input {
	width: 50%;
	padding: 10px;
	margin: 10px;
}
.buttons,
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	margin: 5px;
	border-radius: 5px;
}
.radio-item {
	display: inline-block;
	position: relative;
	padding: 0 6px;
	margin: 10px 0 0;
}

.radio-item input[type="radio"] {
	display: none;
}

.radio-item label {
	color: #666;
	font-weight: normal;
}

.radio-item label:before {
	content: " ";
	display: inline-block;
	position: relative;
	top: 5px;
	margin: 0 5px 0 0;
	width: 20px;
	height: 20px;
	border-radius: 11px;
	border: 2px solid orange;
	background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
	border-radius: 11px;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 10px;
	content: " ";
	display: block;
	background: pink;
}
.input-form {
	border-width: 0;
	border-bottom-width: 2px;
	margin: 4px;
	/* margin-top: 20px; */
	font-size: 18px;
}
.input-form:focus-visible {
	/* border: 0;
	border-width: 0; */
	outline: none;
}
.Lable-For-Input_feild {
	position: absolute;
	left: 0;
	top: 12px;
}
::-webkit-file-upload-button {
	background-image: linear-gradient(to right, #ff9f00, #f9eb00);
	border-radius: 32px;
	padding: 15px 40px;
	border-width: 0;
	box-shadow: rgb(255 159 0) 15px 10px 40px -17px;
	height: 45px;
	align-self: center;
}
